.projectTitle{
    color: white;
    background: black;
}
.projectFooter{
     color: white;
    background: black;
}

body{
      color: white;
    background: black;
}

.linkClass{
     color: white;
    background: black;
}

a{
     color: white;

}