<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YaaS</title>
{% load staticfiles %}

    <link rel="stylesheet" href="{% static 'project.css'%}">
</head>
<body>

<div class="projectTitle">
   <h3>
        Yet Another Action Site for Abo Akademi University
    </h3>
    <hr>
    <br>
    <h2>

    </h2>
</div>

<hr>
<div>


</div>





  <div> <h2>{{ errorMsg }}</h2></div>
   <br>


<hr>



<a href="/viewAllAuctions/">Cancel</a>

<div class="projectFooter">
    By Rida Kamal
</div>
</body>
</html>