<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YaaS</title>
{% load staticfiles %}

    <link rel="stylesheet" href="{% static 'project.css'%}">
</head>
<body>

<div class="projectTitle">
    <h3>
        Yet Another Action Site for Abo Akademi University
    </h3>
</div>

<hr>
<div>
                <ul>
                    <li><a href="/viewAllAuctions/">All Auctions</a></li>
                    <li><a href="/register/">Register</a></li>
                    <li><a href="/login/">Login</a></li>


                </ul>
</div>
<hr>

<div class="projectFooter">
   Made by Rida Kamal
</div>
</body>
</html>